.header{
    padding-top: 60px;
    margin-left: 80px;
    margin-right: 80px; 
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
    }
    &__menu{
        font-size: 18px;
        &-list{
            display: flex;
            align-items: center;
            column-gap: 50px;
        }
        &-link{
            &:hover{
                color: #FFC178;
            }
        }
    }
}
