body{
    background-color: black;
    font-family:'Open Sans', sans-serif;
    
}
a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.section{
    padding-block: 100px;
    margin-left: 12vw;
    margin-right: 12vw;
}
.background{
    background-image:url("Background.png");
    padding-bottom: 100px;
}